workflows/QOlE6hpQyNm2RUIj.json
{
  "updatedAt": "2026-04-27T10:06:49.503Z",
  "createdAt": "2026-04-25T11:51:33.346Z",
  "id": "QOlE6hpQyNm2RUIj",
  "name": "Receipt Processor v1.2 — Phase 2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "={{ $env.N8N_DRIVE_FOLDER_ID_UNSORTIERT }}",
          "mode": "list",
          "cachedResultName": "N8N_DRIVE_FOLDER_ID_UNSORTIERT",
          "cachedResultUrl": "N8N_DRIVE_FOLDER_ID_UNSORTIERT"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        384
      ],
      "id": "dad6265c-fca7-4b6e-a0e1-b1ec9e9ce555",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleApi": {
          "id": "IE087Stw6nehyVnk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $('Google Drive Trigger').item.json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        384
      ],
      "id": "a0d65e74-c1cb-43b1-846e-7f93bba8707d",
      "name": "Download file",
      "credentials": {
        "googleApi": {
          "id": "IE087Stw6nehyVnk",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Analyze the attached receipt image and extract structured data.\n\nIMPORTANT: The total amount is usually prominently displayed. Pay special attention to the final amount that was actually paid.\n\n1. RECEIPT_INFO:\n   - Date (formats DD.MM.YYYY, MM/DD/YYYY, YYYY-MM-DD, DD.MM.YY)\n   - Store name (normalized: REWE, IKEA, ESSO, etc.)\n   - Currency (EUR, USD, etc.)\n   - Total amount (the actual amount paid)\n   - Tax amount (if recognizable)\n   - Subtotal (if available)\n\n2. INDIVIDUAL ITEMS:\n   - For each item: name, category, price, quantity\n   - Use specific categories in singular English (Food, Beverage, Household, Furniture, etc.)\n   - If quantity is not specified, assume 1\n   - For items sold by weight: include only the final price paid (e.g., \"Bananas (by weight)\" with the actual paid amount)\n   - Do not include reference prices (per-kilogram) as separate items if a total price for that item also appears\n   - If both per-unit and total price for the same item appear, use only the total\n\nReturn the result as JSON matching the provided schema.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "imageDetail": "high"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1008,
        352
      ],
      "id": "e39dfe5e-fd94-41d8-bc7c-d2a22075001b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        528
      ],
      "id": "ad7a5851-ca2f-46af-b6c1-d7554712a196",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "My4Bnh4g8Z04h3cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"ReceiptValidation\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"receipt_info\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"date\": { \"type\": \"string\", \"format\": \"date\", \"title\": \"Receipt Date\" },\n        \"store\": { \"type\": \"string\", \"title\": \"Store Name\" },\n        \"currency\": { \"type\": \"string\", \"title\": \"Currency\" },\n        \"total_amount\": { \"type\": \"number\", \"title\": \"Total Amount on Receipt\" },\n        \"tax_amount\": { \"type\": \"number\", \"title\": \"Total Tax Amount\", \"default\": 0 },\n        \"subtotal\": { \"type\": \"number\", \"title\": \"Subtotal before tax\", \"default\": 0 }\n      },\n      \"required\": [\"date\", \"store\", \"currency\", \"total_amount\"]\n    },\n    \"items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n           \"date\": { \"type\": \"string\", \"format\": \"date\", \"title\": \"Receipt Date\" },\n        \"store\": { \"type\": \"string\", \"title\": \"Store Name\" },\n        \"currency\": { \"type\": \"string\", \"title\": \"Currency\" },\n          \"category\": { \"type\": \"string\", \"title\": \"Item Category\" },\n          \"name\": { \"type\": \"string\", \"title\": \"Item Name\" },\n          \"price\": { \"type\": \"number\", \"title\": \"Item Price\" },\n          \"quantity\": { \"type\": \"number\", \"title\": \"Quantity\", \"default\": 1 }\n        },\n        \"required\": [\"date\", \"store\", \"currency\", \"category\", \"name\", \"price\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"receipt_info\", \"items\"],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        528
      ],
      "id": "ce81b0c5-8f72-4555-bd81-3908eece6dbd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "={{ $env.N8N_NOTIFICATION_EMAIL }}",
        "subject": "Addition of receipt to database",
        "message": "=The following receipt itmes have been received and added to the sheet.\n\n{{ $json.store }}\n{{ $json.date }}\n{{ $json.price }} {{ $json.currency }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1872,
        352
      ],
      "id": "2b4f7a7f-6c7c-42aa-be6d-a1e29eff017b",
      "name": "Send a message",
      "webhookId": "01a170ea-6599-424d-9c21-9ddddcf102c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "PNyXeGOIJ66dAoLf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Download failed!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        304,
        608
      ],
      "id": "f3c03be7-b2dd-4046-980a-bec80d748ad3",
      "name": "Stop and Error | Download"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output.items",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1504,
        112
      ],
      "id": "99220eb3-49da-43e5-8cd2-d06a5402a987",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_RECHNUNGEN_ID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_RECHNUNGEN_ID",
          "cachedResultUrl": "N8N_SHEET_RECHNUNGEN_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_EINZELPOSTEN_GID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_EINZELPOSTEN_GID",
          "cachedResultUrl": "N8N_SHEET_EINZELPOSTEN_GID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json[\"output.items\"].date }}",
            "store": "={{ $json[\"output.items\"].store }}",
            "category": "={{ $json[\"output.items\"].category }}",
            "name": "={{ $json[\"output.items\"].name }}",
            "price": "={{ $json[\"output.items\"].price }}",
            "currency": "={{ $json[\"output.items\"].currency }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "store",
              "displayName": "store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        112
      ],
      "id": "bed24046-f9ba-4894-810d-fedaa6e0a205",
      "name": "Append items in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8GzJQm91xR4OBFgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_RECHNUNGEN_ID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_RECHNUNGEN_ID",
          "cachedResultUrl": "N8N_SHEET_RECHNUNGEN_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_GESAMTPOSTEN_GID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_GESAMTPOSTEN_GID",
          "cachedResultUrl": "N8N_SHEET_GESAMTPOSTEN_GID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.output.receipt_info.date }}",
            "store": "={{ $json.output.receipt_info.store }}",
            "price": "={{ $json.output.receipt_info.total_amount }}",
            "currency": "={{ $json.output.receipt_info.currency }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store",
              "displayName": "store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        352
      ],
      "id": "a7929ae4-b490-4a7e-9986-798be691b046",
      "name": "Append receipt in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8GzJQm91xR4OBFgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b64fcd1-bcba-4891-89ac-fba39e333f74",
              "leftValue": "= {{ $binary.data.mimeType }} ",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        368
      ],
      "id": "9789eb29-0dd2-4ef4-aff0-f417deadbdd5",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pdf-converter:8000/convert",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        480
      ],
      "id": "07112de6-5ef4-44e6-a6ba-f0b1b0ef0987",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error | Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append receipt in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append items in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append items in sheet": {
      "main": [
        []
      ]
    },
    "Append receipt in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "AbaYcyWcPF2pAkxR",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "17180d7b-c066-4b4b-9e45-a1a9d0a4624d",
  "activeVersionId": null,
  "versionCounter": 13,
  "triggerCount": 0,
  "tags": []
}
