workflows/UigcQtXyleXGTRvM.json
{
  "updatedAt": "2026-04-30T07:26:57.305Z",
  "createdAt": "2026-04-27T19:25:13.013Z",
  "id": "UigcQtXyleXGTRvM",
  "name": "Bulk Import",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Bulk Import",
        "formFields": {
          "values": [
            {
              "fieldName": "Folder ID",
              "fieldLabel": "Which folder do you want to process?",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -960,
        -368
      ],
      "id": "7a56f719-e7a6-46a7-b216-7bd617332370",
      "name": "On form submission",
      "webhookId": "100f7060-867f-49f1-8da1-f1dfb6590fa8"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json[\"Folder ID\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -752,
        -368
      ],
      "id": "c2b8c222-4aa8-4b60-b15b-892a9a309920",
      "name": "Search files and folders",
      "credentials": {
        "googleApi": {
          "id": "IE087Stw6nehyVnk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -608
      ],
      "id": "50c00f4f-5046-435b-9bc1-f0f75afdf850",
      "name": "Download file",
      "credentials": {
        "googleApi": {
          "id": "IE087Stw6nehyVnk",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pdf-converter:8000/convert",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        -624
      ],
      "id": "f6442049-683d-4058-8d85-a62497f70076",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Analyze the attached receipt image and extract structured data.\n\n  IMPORTANT: The total amount is usually prominently displayed. Pay special       \n  attention to the final amount that was actually paid.\n                                                                                  \n  1. RECEIPT_INFO:     \n     - Always output dates in ISO format (YYYY-MM-DD).\n  - The receipt date is the transaction date, typically accompanied by a time (HH:MM). It contains a recognizable day\n  (01–31), month (01–12), and a 4-digit year (e.g. 2024, 2025). Use that date — do not derive or invent a year.\n  - German prices use a comma as decimal separator followed by exactly 2 digits and an optional VAT letter (e.g. '1,09\n   A', '2,30 B', '13,80 A'). These are item prices — never dates. Do not interpret them as dates under any\n  circumstances.\n     - Store name (normalized: REWE, IKEA, ESSO, etc.)                            \n     - Currency (EUR, USD, etc.)\n     - Total amount (the actual amount paid)                                      \n     - Tax amount (if recognizable, otherwise 0)\n     - Subtotal: the NETTO (net) amount before tax, always less than or equal to total_amount. Use the printed NETTO\n  value if available; otherwise calculate as total_amount minus tax_amount.                                                                   \n     - Deposits (Pfand): sum of all deposit charges if present, otherwise 0\n     - Discounts: sum of all discounts or coupons if present, otherwise 0         \n                                                                                  \n  2. INDIVIDUAL ITEMS:                                                            \n     - For each item: name, category, price, quantity                             \n     - Use specific categories in singular English (Food, Beverage, Household,\n  Furniture, etc.)                                                                \n     - If quantity is not specified, assume 1. If quantity appears inside the product name (e.g. 'Milk 1L x 12'), extract\n   that number as quantity.\n     - For items sold by weight: include only the final price paid (e.g., \"Bananas\n   (by weight)\" with the actual paid amount)                                      \n     - Do not include reference prices (per-kilogram) as separate items if a total\n   price for that item also appears                                               \n     - If both per-unit and total price for the same item appear, use only the\n  total\n     - Do not include deposit charges or discounts as items\n     - Translate item names to English if not already in English\n  \n  3. CONFIDENCE SCORE:\n       - Rate your overall confidence in the extraction on a scale of 1 to 5\n       - 5 = all values clearly readable, high certainty\n       - 4 = mostly readable, minor ambiguities\n       - 3 = some values ambiguous (faded print, partial occlusion, unclear\n  handwriting)\n       - 2 = significant parts unclear, multiple guesses made\n       - 1 = image barely readable, extraction largely guesswork                                                                                \n  Return the result as JSON matching the provided schema.\n  \n\nThe Drive file ID for this receipt is: {{ $json.id }}\nYou MUST include this exact string (unchanged) as the top-level \"receipt_id\" field in your JSON output.\n\nIMPORTANT: Output ONLY the raw JSON object. Do NOT wrap it in markdown code blocks (no ```json``` or similar). No explanations, no extra text.",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "imageDetail": "high"
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayTime": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1392,
        -624
      ],
      "id": "72bc3b61-23c7-4080-99ae-5ee75d361c0b",
      "name": "Basic LLM Chain",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        -464
      ],
      "id": "e28da108-a493-4ede-ad34-cbe3f1f3f134",
      "name": "OpenAI Chat Model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "My4Bnh4g8Z04h3cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_RECHNUNGEN_ID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_RECHNUNGEN_ID",
          "cachedResultUrl": "N8N_SHEET_RECHNUNGEN_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_GESAMTPOSTEN_GID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_GESAMTPOSTEN_GID",
          "cachedResultUrl": "N8N_SHEET_GESAMTPOSTEN_GID"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "date": "={{ $json.output.receipt_info.date }}",
            "store": "={{ $json.output.receipt_info.store }}",
            "price": "={{ $json.output.receipt_info.total_amount }}",
            "currency": "={{ $json.output.receipt_info.currency }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store",
              "displayName": "store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        -336
      ],
      "id": "a5fed2d0-ff6c-4612-aeab-63f24820fe76",
      "name": "Append receipt in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8GzJQm91xR4OBFgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7deabdc-f194-4f18-ad73-55192dfefe4f",
              "name": "receipt_id",
              "value": "={{ $json.receipt_id }}",
              "type": "string"
            },
            {
              "id": "f08f2266-38a4-4394-aeef-4b3843aeb98a",
              "name": "date",
              "value": "={{ $json.output.receipt_info.date ? DateTime.fromISO($json.output.receipt_info.date).toFormat('dd.MM.yyyy') : '' }}",
              "type": "string"
            },
            {
              "id": "7c62bb5c-03cf-4a0d-9c52-262648c16486",
              "name": "store",
              "value": "={{ $json.output.receipt_info.store }}",
              "type": "string"
            },
            {
              "id": "a76ab2f2-29db-4cd0-9ba8-2ec38f66ed56",
              "name": "currency",
              "value": "={{ $json.output.receipt_info.currency }}",
              "type": "string"
            },
            {
              "id": "a7ff4ff1-a50f-4f82-9504-19b386bd4c72",
              "name": "total_amount",
              "value": "={{ Number($json.output.receipt_info.total_amount) }}",
              "type": "number"
            },
            {
              "id": "7d3e559a-c11d-4b7c-bcb0-0c20d5d44c79",
              "name": "tax_amount",
              "value": "={{ Number($json.output.receipt_info.tax_amount) }}",
              "type": "number"
            },
            {
              "id": "56baf7a2-a02c-441f-a245-55f63027fe34",
              "name": "subtotal",
              "value": "={{ Number($json.output.receipt_info.subtotal) }}",
              "type": "number"
            },
            {
              "id": "0f150278-f4d5-44cd-871c-427a0e8269c3",
              "name": "deposits",
              "value": "={{ Number($json.output.receipt_info.deposits) }}",
              "type": "number"
            },
            {
              "id": "244706af-bd07-4006-9329-3e258af04e36",
              "name": "discounts",
              "value": "={{ Number($json.output.receipt_info.discounts) }}",
              "type": "number"
            },
            {
              "id": "ad53b6bb-dd03-4c3c-930a-333fccf4b46f",
              "name": "confidence",
              "value": "={{ Number($json.output.receipt_info.confidence) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        -336
      ],
      "id": "06849faa-fa2a-410e-ab35-017d685991ca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output.items",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2256,
        -544
      ],
      "id": "dbf2943e-cda4-42ce-8a9d-121de4525961",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_RECHNUNGEN_ID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_RECHNUNGEN_ID",
          "cachedResultUrl": "N8N_SHEET_RECHNUNGEN_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_EINZELPOSTEN_GID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_EINZELPOSTEN_GID",
          "cachedResultUrl": "N8N_SHEET_EINZELPOSTEN_GID"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2576,
        -544
      ],
      "id": "a9e017d0-9af2-4b0b-ad8b-19ae80fefdba",
      "name": "Append items in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8GzJQm91xR4OBFgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce43264a-38d1-447a-8431-7ef66a36665e",
              "name": "receipt_id",
              "value": "={{ $json.receipt_id }}",
              "type": "string"
            },
            {
              "id": "f06a3d00-f85c-475f-8b32-d3f3ffad1783",
              "name": "category",
              "value": "={{ $json[\"output.items\"].category }}",
              "type": "string"
            },
            {
              "id": "124a9910-f884-4e6f-9366-bb8bfaa60347",
              "name": "name",
              "value": "={{ $json[\"output.items\"].name }}",
              "type": "string"
            },
            {
              "id": "a6ec8e33-32a9-46fb-bcff-5489a971f9a5",
              "name": "price",
              "value": "={{ Number($json[\"output.items\"].price) }}",
              "type": "number"
            },
            {
              "id": "af74044c-1e83-41fa-96c1-850f2758e4e8",
              "name": "quantity",
              "value": "={{ $json[\"output.items\"].quantity }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        -544
      ],
      "id": "d53918fc-a068-4cf7-91e4-7d1f4ca9152e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_RECHNUNGEN_ID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_RECHNUNGEN_ID",
          "cachedResultUrl": "N8N_SHEET_RECHNUNGEN_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_GESAMTPOSTEN_GID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_GESAMTPOSTEN_GID",
          "cachedResultUrl": "N8N_SHEET_GESAMTPOSTEN_GID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        -592
      ],
      "id": "2c3ccc14-3a00-46c5-933a-9cc835af8801",
      "name": "Get all sheet rows",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8GzJQm91xR4OBFgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $('Aggregate files').first().json.files;\nconst sheetRows = $input.all().map(item => item.json);\nconst existingIds = new Set(\n  sheetRows.map(r => r.receipt_id).filter(id => !!id)\n);\nconst force = !!$('On form submission').first().json['Force reprocess'];\nconst toProcess = force ? files : files.filter(f => !existingIds.has(f.id));\nconst BLOCKED_EXT = new Set(['.docx', '.doc', '.xlsx', '.xls', '.pptx', '.ppt', '.txt', '.csv', '.zip', '.mp4', '.mov', '.mp3']);\nconst filteredToProcess = toProcess.filter(f => {\n  if (f.mimeType?.startsWith('application/vnd.google-apps.')) return false;\n  const ext = (f.name || '').toLowerCase().match(/\\.[^.]+$/)?.[0];\n  // No extension: let through — may be a PDF/image saved without extension; Stop and Error will catch it\n  if (!ext) return true;\n  return !BLOCKED_EXT.has(ext);\n});\nreturn filteredToProcess.map(f => ({ json: f }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -592
      ],
      "id": "e51e9b07-5474-49f9-ac2d-13fb8a8768d5",
      "name": "Filter new files"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -544,
        -592
      ],
      "id": "d04e38aa-296f-4bc9-95d4-fc3124cfd9a7",
      "name": "Aggregate files"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pdf-converter:8000/resize",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        -624
      ],
      "id": "d0391967-1531-4885-9073-423b39e76354",
      "name": "HTTP Request resize",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Analyze the attached receipt image and extract structured data.\n\n  IMPORTANT: The total amount is usually prominently displayed. Pay special       \n  attention to the final amount that was actually paid.\n                                                                                  \n  1. RECEIPT_INFO:     \n     - Always output dates in ISO format (YYYY-MM-DD).\n  - The receipt date is the transaction date, typically accompanied by a time (HH:MM). It contains a recognizable day\n  (01–31), month (01–12), and a 4-digit year (e.g. 2024, 2025). Use that date — do not derive or invent a year.\n  - German prices use a comma as decimal separator followed by exactly 2 digits and an optional VAT letter (e.g. '1,09\n   A', '2,30 B', '13,80 A'). These are item prices — never dates. Do not interpret them as dates under any\n  circumstances.\n     - Store name (normalized: REWE, IKEA, ESSO, etc.)                            \n     - Currency (EUR, USD, etc.)\n     - Total amount (the actual amount paid)                                      \n     - Tax amount (if recognizable, otherwise 0)\n     - Subtotal: the NETTO (net) amount before tax, always less than or equal to total_amount. Use the printed NETTO\n  value if available; otherwise calculate as total_amount minus tax_amount.                                                                   \n     - Deposits (Pfand): sum of all deposit charges if present, otherwise 0\n     - Discounts: sum of all discounts or coupons if present, otherwise 0         \n                                                                                  \n  2. INDIVIDUAL ITEMS:                                                            \n     - For each item: name, category, price, quantity                             \n     - Use specific categories in singular English (Food, Beverage, Household,\n  Furniture, etc.)                                                                \n     - If quantity is not specified, assume 1. If quantity appears inside the product name (e.g. 'Milk 1L x 12'), extract\n   that number as quantity.\n     - For items sold by weight: include only the final price paid (e.g., \"Bananas\n   (by weight)\" with the actual paid amount)                                      \n     - Do not include reference prices (per-kilogram) as separate items if a total\n   price for that item also appears                                               \n     - If both per-unit and total price for the same item appear, use only the\n  total\n     - Do not include deposit charges or discounts as items\n     - Translate item names to English if not already in English\n  \n  3. CONFIDENCE SCORE:\n       - Rate your overall confidence in the extraction on a scale of 1 to 5\n       - 5 = all values clearly readable, high certainty\n       - 4 = mostly readable, minor ambiguities\n       - 3 = some values ambiguous (faded print, partial occlusion, unclear\n  handwriting)\n       - 2 = significant parts unclear, multiple guesses made\n       - 1 = image barely readable, extraction largely guesswork                                                                                \n  Return the result as JSON matching the provided schema.\n  \n\nThe Drive file ID for this receipt is: {{ $json.id }}\nYou MUST include this exact string (unchanged) as the top-level \"receipt_id\" field in your JSON output.\n\nIMPORTANT: Output ONLY the raw JSON object. Do NOT wrap it in markdown code blocks (no ```json``` or similar). No explanations, no extra text.",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "imageDetail": "high"
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayTime": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1776,
        -224
      ],
      "id": "c15c2caa-3f5b-4d23-b664-5c086f086dee",
      "name": "Basic LLM Chain1",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1776,
        -64
      ],
      "id": "041406e2-1342-4486-b4f0-e8fa952d430e",
      "name": "OpenAI Chat Model1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "My4Bnh4g8Z04h3cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_RECHNUNGEN_ID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_RECHNUNGEN_ID",
          "cachedResultUrl": "N8N_SHEET_RECHNUNGEN_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_GESAMTPOSTEN_GID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_GESAMTPOSTEN_GID",
          "cachedResultUrl": "N8N_SHEET_GESAMTPOSTEN_GID"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "date": "={{ $json.output.receipt_info.date }}",
            "store": "={{ $json.output.receipt_info.store }}",
            "price": "={{ $json.output.receipt_info.total_amount }}",
            "currency": "={{ $json.output.receipt_info.currency }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store",
              "displayName": "store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        368
      ],
      "id": "2ec1244d-53c7-4ffd-86b3-45b0da6e19ff",
      "name": "Append receipt in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8GzJQm91xR4OBFgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7deabdc-f194-4f18-ad73-55192dfefe4f",
              "name": "receipt_id",
              "value": "={{ $json.receipt_id }}",
              "type": "string"
            },
            {
              "id": "f08f2266-38a4-4394-aeef-4b3843aeb98a",
              "name": "date",
              "value": "={{ $json.output.receipt_info.date ? DateTime.fromISO($json.output.receipt_info.date).toFormat('dd.MM.yyyy') : '' }}",
              "type": "string"
            },
            {
              "id": "7c62bb5c-03cf-4a0d-9c52-262648c16486",
              "name": "store",
              "value": "={{ $json.output.receipt_info.store }}",
              "type": "string"
            },
            {
              "id": "a76ab2f2-29db-4cd0-9ba8-2ec38f66ed56",
              "name": "currency",
              "value": "={{ $json.output.receipt_info.currency }}",
              "type": "string"
            },
            {
              "id": "a7ff4ff1-a50f-4f82-9504-19b386bd4c72",
              "name": "total_amount",
              "value": "={{ Number($json.output.receipt_info.total_amount) }}",
              "type": "number"
            },
            {
              "id": "7d3e559a-c11d-4b7c-bcb0-0c20d5d44c79",
              "name": "tax_amount",
              "value": "={{ Number($json.output.receipt_info.tax_amount) }}",
              "type": "number"
            },
            {
              "id": "56baf7a2-a02c-441f-a245-55f63027fe34",
              "name": "subtotal",
              "value": "={{ Number($json.output.receipt_info.subtotal) }}",
              "type": "number"
            },
            {
              "id": "0f150278-f4d5-44cd-871c-427a0e8269c3",
              "name": "deposits",
              "value": "={{ Number($json.output.receipt_info.deposits) }}",
              "type": "number"
            },
            {
              "id": "244706af-bd07-4006-9329-3e258af04e36",
              "name": "discounts",
              "value": "={{ Number($json.output.receipt_info.discounts) }}",
              "type": "number"
            },
            {
              "id": "ad53b6bb-dd03-4c3c-930a-333fccf4b46f",
              "name": "confidence",
              "value": "={{ Number($json.output.receipt_info.confidence) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2496,
        368
      ],
      "id": "16e5a81f-bca2-4e2f-93ac-a85b9828cb08",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output.items",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2480,
        160
      ],
      "id": "4039d44e-13c1-41e3-9bb2-4bf99cc08cfc",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_RECHNUNGEN_ID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_RECHNUNGEN_ID",
          "cachedResultUrl": "N8N_SHEET_RECHNUNGEN_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_EINZELPOSTEN_GID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_EINZELPOSTEN_GID",
          "cachedResultUrl": "N8N_SHEET_EINZELPOSTEN_GID"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2800,
        160
      ],
      "id": "e3274d51-60b4-4363-ada9-291bab90458b",
      "name": "Append items in sheet1",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8GzJQm91xR4OBFgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce43264a-38d1-447a-8431-7ef66a36665e",
              "name": "receipt_id",
              "value": "={{ $json.receipt_id }}",
              "type": "string"
            },
            {
              "id": "f06a3d00-f85c-475f-8b32-d3f3ffad1783",
              "name": "category",
              "value": "={{ $json[\"output.items\"].category }}",
              "type": "string"
            },
            {
              "id": "124a9910-f884-4e6f-9366-bb8bfaa60347",
              "name": "name",
              "value": "={{ $json[\"output.items\"].name }}",
              "type": "string"
            },
            {
              "id": "a6ec8e33-32a9-46fb-bcff-5489a971f9a5",
              "name": "price",
              "value": "={{ Number($json[\"output.items\"].price) }}",
              "type": "number"
            },
            {
              "id": "af74044c-1e83-41fa-96c1-850f2758e4e8",
              "name": "quantity",
              "value": "={{ $json[\"output.items\"].quantity }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        160
      ],
      "id": "ed3b2da5-fe67-44bb-b294-26fee0fdc92b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pdf-converter:8000/resize",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        -224
      ],
      "id": "316303b6-3bf4-4940-a5a9-3400404936f2",
      "name": "HTTP Request resize1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "077821f4-aa5d-4952-96bd-a9b6701b9a28",
              "leftValue": "={{ Object.keys($binary || {}).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        -608
      ],
      "id": "ff5277a5-1d8c-43b0-8475-6950fd06b5af",
      "name": "Has binary data?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6d44d87b-1ebd-4d5b-93c9-c00f76bd8977",
              "leftValue": "={{ $json.mimeType === 'application/pdf' || ($json.name || '').toLowerCase().endsWith('.pdf') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -592
      ],
      "id": "c5b7824d-feda-4250-88c4-5fd66dcc87b2",
      "name": "If PDF meta?"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -384
      ],
      "id": "2a929794-29a8-4dfa-8a26-94c090ff4375",
      "name": "Download file1",
      "credentials": {
        "googleApi": {
          "id": "IE087Stw6nehyVnk",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "077821f4-aa5d-4952-96bd-a9b6701b9a28",
              "leftValue": "={{ Object.keys($binary || {}).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        -384
      ],
      "id": "8994934a-e647-43f9-aac2-72e7f65fcf5a",
      "name": "Has binary data?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a77921f4-bb5d-5b52-97bd-b9b6701b9b30",
              "leftValue": "={{ Object.keys($binary || {}).length > 0 && $json.error === undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        -224
      ],
      "id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
      "name": "Has binary data?2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b88031f5-cc6f-6c63-08ce-caC7812c0c4e",
              "leftValue": "={{ Object.keys($binary || {}).length > 0 && $json.error === undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        -848
      ],
      "id": "b88031f5-cc6f-6c63-08ce-cac7812c0c4e",
      "name": "Has resize output? (PDF)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000001-0000-0000-0000-000000000001-1",
              "name": "receipt_id",
              "value": "={{ $json.receipt_id || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000001-2",
              "name": "filename",
              "value": "={{ $json.filename || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000001-3",
              "name": "error_type",
              "value": "LLM parse error (PDF)",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000001-4",
              "name": "error_message",
              "value": "={{ $json.error?.message || (typeof $json.error === 'string' ? $json.error : JSON.stringify($json.error)) || 'LLM parse error' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000001-5",
              "name": "raw_output",
              "value": "={{ $json.text || (typeof $json.error === 'string' ? $json.error : JSON.stringify($json.error)) || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000001-6",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000001-7",
              "name": "drive_url",
              "value": "={{ $json.receipt_id ? 'https://drive.google.com/file/d/' + $json.receipt_id + '/view' : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        -608
      ],
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Set parse error (PDF)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000001-0000-0000-0000-000000000002-1",
              "name": "receipt_id",
              "value": "={{ $json.receipt_id || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000002-2",
              "name": "filename",
              "value": "={{ $json.filename || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000002-3",
              "name": "error_type",
              "value": "LLM parse error (JPG)",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000002-4",
              "name": "error_message",
              "value": "={{ $json.error?.message || (typeof $json.error === 'string' ? $json.error : JSON.stringify($json.error)) || 'LLM parse error' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000002-5",
              "name": "raw_output",
              "value": "={{ $json.text || (typeof $json.error === 'string' ? $json.error : JSON.stringify($json.error)) || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000002-6",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000002-7",
              "name": "drive_url",
              "value": "={{ $json.receipt_id ? 'https://drive.google.com/file/d/' + $json.receipt_id + '/view' : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        112
      ],
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "Set parse error (JPG)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000001-0000-0000-0000-000000000003-1",
              "name": "receipt_id",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000003-2",
              "name": "filename",
              "value": "={{ $json.name || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000003-3",
              "name": "error_type",
              "value": "Download failed (PDF)",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000003-4",
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.error?.description || 'No binary data returned' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000003-5",
              "name": "raw_output",
              "value": "",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000003-6",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000003-7",
              "name": "drive_url",
              "value": "={{ 'https://drive.google.com/file/d/' + ($json.id || '') + '/view' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -528
      ],
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "Set download error (PDF)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000001-0000-0000-0000-000000000004-1",
              "name": "receipt_id",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000004-2",
              "name": "filename",
              "value": "={{ $json.name || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000004-3",
              "name": "error_type",
              "value": "Download failed (JPG)",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000004-4",
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.error?.description || 'No binary data returned' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000004-5",
              "name": "raw_output",
              "value": "",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000004-6",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000004-7",
              "name": "drive_url",
              "value": "={{ 'https://drive.google.com/file/d/' + ($json.id || '') + '/view' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -304
      ],
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "Set download error (JPG)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000001-0000-0000-0000-000000000005-1",
              "name": "receipt_id",
              "value": "={{ $('Download file').item.json.id || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000005-2",
              "name": "filename",
              "value": "={{ $('Download file').item.json.name || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000005-3",
              "name": "error_type",
              "value": "Resize/convert failed (PDF)",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000005-4",
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.error?.description || 'No binary data returned' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000005-5",
              "name": "raw_output",
              "value": "",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000005-6",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000005-7",
              "name": "drive_url",
              "value": "={{ 'https://drive.google.com/file/d/' + ($('Download file').item.json.id || '') + '/view' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        -704
      ],
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "Set resize error (PDF)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000001-0000-0000-0000-000000000006-1",
              "name": "receipt_id",
              "value": "={{ $('Download file1').item.json.id || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000006-2",
              "name": "filename",
              "value": "={{ $('Download file1').item.json.name || '' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000006-3",
              "name": "error_type",
              "value": "Resize failed (JPG)",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000006-4",
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.error?.description || 'No binary data returned' }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000006-5",
              "name": "raw_output",
              "value": "",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000006-6",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "aa000001-0000-0000-0000-000000000006-7",
              "name": "drive_url",
              "value": "={{ 'https://drive.google.com/file/d/' + ($('Download file1').item.json.id || '') + '/view' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -80
      ],
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "Set resize error (JPG)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_RECHNUNGEN_ID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_RECHNUNGEN_ID",
          "cachedResultUrl": "N8N_SHEET_RECHNUNGEN_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.N8N_SHEET_ERRORS_GID }}",
          "mode": "list",
          "cachedResultName": "N8N_SHEET_ERRORS_GID",
          "cachedResultUrl": "N8N_SHEET_ERRORS_GID"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2200,
        350
      ],
      "id": "aa000001-0000-0000-0000-000000000007",
      "name": "Append to errors sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8GzJQm91xR4OBFgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const llmItems = $input.all();\nconst srcItems = $('Has resize output? (PDF)').all();\nreturn llmItems.map((item, i) => {\n  const text = item.json?.text || '';\n  const ridMatch = text.match(/\"receipt_id\"\\s*:\\s*\"([^\"]+)\"/);\n  const receiptId = ridMatch ? ridMatch[1] : (srcItems[i]?.json?.id || '');\n  const filename = srcItems[i]?.json?.name || '';\n  return { json: { ...item.json, receipt_id: receiptId, filename: filename } };\n});",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -700
      ],
      "id": "bb000001-0000-0000-0000-000000000001",
      "name": "Add file metadata (PDF)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst text = item.json.text || '';\nconst cleaned = text.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('JSON parse failed: ' + e.message);\n}\n// Normalize: items field name variations\nif (parsed && !parsed.items) {\n  parsed.items = parsed.individual_items || parsed.line_items || parsed.products || parsed.purchased_items || [];\n}\nif (!parsed?.receipt_info || !Array.isArray(parsed?.items)) {\n  throw new Error('Schema mismatch: missing receipt_info or items');\n}\n// Normalize: confidence may be at top level instead of inside receipt_info\nconst ri = parsed.receipt_info;\nif (ri.confidence == null) {\n  ri.confidence = ri.confidence_score ?? parsed.confidence ?? parsed.confidence_score ?? 3;\n}\n// Normalize: store field name variations\nri.store = ri.store || ri.store_name || ri.merchant || ri.vendor || ri.retailer || '';\n// Normalize: date field name variations + format (YYYY-MM-DD or DD.MM.YYYY)\nconst rawDate = ri.date || ri.receipt_date || ri.transaction_date || ri.purchase_date || '';\nconst isoMatch = rawDate.match(/^(\\d{4})-(\\d{2})-(\\d{2})/);\nconst deMatch  = rawDate.match(/^(\\d{2})\\.(\\d{2})\\.(\\d{4})$/);\nri.date = isoMatch ? `${isoMatch[1]}-${isoMatch[2]}-${isoMatch[3]}`\n        : deMatch  ? `${deMatch[3]}-${deMatch[2]}-${deMatch[1]}`\n        : '';\n// Default numeric fields to avoid NaN in downstream Set nodes\nri.tax_amount = ri.tax_amount ?? 0;\nri.subtotal = ri.subtotal ?? 0;\nri.deposits = ri.deposits ?? 0;\nri.discounts = ri.discounts ?? 0;\n// Normalize items: quantity 0/null/undefined → 1\n// quantity: 0/null/fraction(<1) → 1; weight-based items use fraction as qty\nparsed.items = parsed.items.map(it => {\n  const qty = Number(it.quantity);\n  return { ...it, quantity: (Number.isFinite(qty) && qty >= 1) ? qty : 1 };\n});\nconst receiptId = parsed.receipt_id || item.json.receipt_id || '';\ndelete parsed.receipt_id;\nreturn { json: { output: parsed, text: text, receipt_id: receiptId, filename: item.json.filename } };",
        "mode": "runOnceForEachItem"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -700
      ],
      "id": "bb000001-0000-0000-0000-000000000002",
      "name": "Parse LLM output (PDF)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const llmItems = $input.all();\nconst srcItems = $('Has binary data?2').all();\nreturn llmItems.map((item, i) => {\n  const text = item.json?.text || '';\n  const ridMatch = text.match(/\"receipt_id\"\\s*:\\s*\"([^\"]+)\"/);\n  const receiptId = ridMatch ? ridMatch[1] : (srcItems[i]?.json?.id || '');\n  const filename = srcItems[i]?.json?.name || '';\n  return { json: { ...item.json, receipt_id: receiptId, filename: filename } };\n});",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -224
      ],
      "id": "bb000001-0000-0000-0000-000000000003",
      "name": "Add file metadata (JPG)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst text = item.json.text || '';\nconst cleaned = text.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('JSON parse failed: ' + e.message);\n}\n// Normalize: items field name variations\nif (parsed && !parsed.items) {\n  parsed.items = parsed.individual_items || parsed.line_items || parsed.products || parsed.purchased_items || [];\n}\nif (!parsed?.receipt_info || !Array.isArray(parsed?.items)) {\n  throw new Error('Schema mismatch: missing receipt_info or items');\n}\n// Normalize: confidence may be at top level instead of inside receipt_info\nconst ri = parsed.receipt_info;\nif (ri.confidence == null) {\n  ri.confidence = ri.confidence_score ?? parsed.confidence ?? parsed.confidence_score ?? 3;\n}\n// Normalize: store field name variations\nri.store = ri.store || ri.store_name || ri.merchant || ri.vendor || ri.retailer || '';\n// Normalize: date field name variations + format (YYYY-MM-DD or DD.MM.YYYY)\nconst rawDate = ri.date || ri.receipt_date || ri.transaction_date || ri.purchase_date || '';\nconst isoMatch = rawDate.match(/^(\\d{4})-(\\d{2})-(\\d{2})/);\nconst deMatch  = rawDate.match(/^(\\d{2})\\.(\\d{2})\\.(\\d{4})$/);\nri.date = isoMatch ? `${isoMatch[1]}-${isoMatch[2]}-${isoMatch[3]}`\n        : deMatch  ? `${deMatch[3]}-${deMatch[2]}-${deMatch[1]}`\n        : '';\n// Default numeric fields to avoid NaN in downstream Set nodes\nri.tax_amount = ri.tax_amount ?? 0;\nri.subtotal = ri.subtotal ?? 0;\nri.deposits = ri.deposits ?? 0;\nri.discounts = ri.discounts ?? 0;\n// Normalize items: quantity 0/null/undefined → 1\n// quantity: 0/null/fraction(<1) → 1; weight-based items use fraction as qty\nparsed.items = parsed.items.map(it => {\n  const qty = Number(it.quantity);\n  return { ...it, quantity: (Number.isFinite(qty) && qty >= 1) ? qty : 1 };\n});\nconst receiptId = parsed.receipt_id || item.json.receipt_id || '';\ndelete parsed.receipt_id;\nreturn { json: { output: parsed, text: text, receipt_id: receiptId, filename: item.json.filename } };",
        "mode": "runOnceForEachItem"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        50
      ],
      "id": "bb000001-0000-0000-0000-000000000004",
      "name": "Parse LLM output (JPG)",
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Aggregate files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Has binary data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request resize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append receipt in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Add file metadata (PDF)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set parse error (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add file metadata (PDF)": {
      "main": [
        [
          {
            "node": "Parse LLM output (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM output (PDF)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set parse error (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append items in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all sheet rows": {
      "main": [
        [
          {
            "node": "Filter new files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter new files": {
      "main": [
        [
          {
            "node": "If PDF meta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate files": {
      "main": [
        [
          {
            "node": "Get all sheet rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request resize": {
      "main": [
        [
          {
            "node": "Has resize output? (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has resize output? (PDF)": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set resize error (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Add file metadata (JPG)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set parse error (JPG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add file metadata (JPG)": {
      "main": [
        [
          {
            "node": "Parse LLM output (JPG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM output (JPG)": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set parse error (JPG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Append receipt in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Append items in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request resize1": {
      "main": [
        [
          {
            "node": "Has binary data?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has binary data?2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set resize error (JPG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has binary data?": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set download error (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If PDF meta?": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Has binary data?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has binary data?1": {
      "main": [
        [
          {
            "node": "HTTP Request resize1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set download error (JPG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set parse error (PDF)": {
      "main": [
        [
          {
            "node": "Append to errors sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set parse error (JPG)": {
      "main": [
        [
          {
            "node": "Append to errors sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set download error (PDF)": {
      "main": [
        [
          {
            "node": "Append to errors sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set download error (JPG)": {
      "main": [
        [
          {
            "node": "Append to errors sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set resize error (PDF)": {
      "main": [
        [
          {
            "node": "Append to errors sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set resize error (JPG)": {
      "main": [
        [
          {
            "node": "Append to errors sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Berlin",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "m3o1XJMOIOViwm9v"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a10b131a-91ba-451b-9aef-69227c68a3e5",
  "activeVersionId": "964f8395-5f56-49c9-b005-be283913bc76",
  "versionCounter": 110,
  "triggerCount": 1,
  "tags": []
}